.PageBreadCrumbs
    width: 100%
    height: auto
    float: left
    ul
        width: 100%
        height: auto
        float: left
        li
            width: auto
            height: auto
            float: left
            margin: 0px 5px
            font-size: 14px
            letter-spacing: .5px
.MemberCentreContent
    width: 100%
    height: auto
    min-height: 470px
    float: left
    margin-top: 20px
    display: inline-flex
    justify-content: space-between
    align-content: stretch
    align-items: stretch
.memberNav
    width: 224px
    height: auto
    float: left
    background-color: rgba(255,255,255,.6)
    border-radius: 20px
    padding: 26px 0px
    padding-bottom: 60px
.memberNavItem
    width: 100%
    height: 55px
    float: left
    background-color: transparent
    padding: 0px 30px
    display: inline-flex
    justify-content: space-between
    align-content: center
    align-items: center
.memberNavItemLine
    width: 3px
    height: 20px
    background-color: #FF4646
    float: left
.memberNavItemtext
    width: auto
    height: 20px
    line-height: 20px
    font-size: 20px
    font-weight: bold
    float: left
    margin-left: 5px
    color: #006699
.memberNavItem.active
    background-color: rgba( 0,102,153,1 )
.memberNavItem.active > .navItems > .memberNavItemLine
    background-color: #fff
.memberNavItem.active > .navItems > .memberNavItemtext
    color: #FFFFFF
.navItems
    width: 100%
    height: auto
    float: left
.navIcon
    width: 20px
    height: 20px
    float: left
    background-image: url('../img/Nav_icon.svg')
    background-position: 8px center
    background-repeat: no-repeat
    background-size: 40%
.memberCenterRight
    width: calc( 100% - 224px - 16px  )
    height: auto
    float: left
.memberCenterRightTopBox
    width: 100%
    height: 100px
    float: left
    margin-bottom: 20px
    background-color: rgba( 255,255,255,.6 )
    border-radius: 20px
    padding: 26px 50px
    display: inline-flex
    justify-content: space-between
    align-items: center
    align-content: center
.memberCenterRightContentBox
    width: 100%
    height: auto
    min-height: calc( 100% - 100px - 20px )
    float: left
    background-color: rgba( 255,255,255,.6 )
    border-radius: 20px
    padding: 50px
    padding: 60px
.memberUserBox
    width: auto
    height: 46px
    float: left
    display: inline-flex
    align-items: center
.memberUserQRcord
    width: auto
    height: 46px
    float: left    
.memberUserBoxLeft
    width: auto
    height: 46px
    float: left
    img
        width: auto
        height: 100%
        float: left
.memberUserName
    width: auto
    height: 46px
    float: left
    margin-left: 10px
    color: #006699
    font-size: 18px
    font-weight: bold
    display: inline-flex
    justify-content: flex-start
    align-content: flex-end
    align-items: flex-end
.qrcodeph
    width: 46px
    height: 46px
    float: left
    img
        width: 100%
        height: auto
        float: left
        max-width: 100%
.MembershipLevelBox
    width: 180px
    height: 46px
    float: left
    display: inline-flex
    justify-content: flex-end
    align-content: space-between
    align-items: space-between
    flex-wrap: wrap
    margin-right: 10px
.memberleve
    width: 80
    height: 22px
    float: left
    font-size: 16px
    font-weight: bold
    color: #555555
    background: rgb(230,230,230)
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(212,212,212,1) 100%)
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(212,212,212,1) 100%)
    background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(212,212,212,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d4d4d4',GradientType=0 )
    line-height: 22px
    border-radius: 3px
    padding: 0 10px
.memberqrtext
    width: auto
    height: auto
    float: left
    font-size: 18px
    font-weight: bold
    color: #006699