* {
  font-family: "Microsoft JhengHei", "serif";
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 90px;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 250px;
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 50px;
}

.page_main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  float: left;
  background-image: url(../assets/background_img.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

main {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 90px - 250px);
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 60px 0px;
}

.page_content {
  width: 100%;
  max-width: 1200px;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

input, button {
  border: 0px;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.PageTitle {
  width: 100%;
  height: auto;
  float: left;
  font-size: 18px;
  font-weight: 900;
  color: #10325B;
  letter-spacing: 1px;
}

.PageBreadCrumbs {
  width: 100%;
  height: auto;
  float: left;
}
.PageBreadCrumbs ul {
  width: 100%;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header_meunbar {
  width: 100%;
  height: 90px;
  max-width: 1200px;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo_box {
  width: 110px;
  height: auto;
  float: left;
}
.logo_box img {
  width: 100%;
  max-width: 100% !important;
  height: auto;
  float: left;
}

.system_bar {
  width: auto;
  height: 30px;
  float: left;
}

.sdgMenuItem, .sdgMenuItem2 {
  width: auto;
  height: 30px;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 20px;
}

.sdgMenuItem2 {
  margin-left: 0px;
}

.language_item {
  width: 30px;
  height: 30px;
  float: left;
}
.language_item img {
  width: 100%;
  height: auto;
  float: left;
}

.loging_item {
  width: auto;
  height: auto;
  float: left;
  font-size: 16px;
  font-weight: 900;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 15px 15px 15px 15px;
  background-color: #006699;
}
.loging_item a {
  color: #FFFFFF;
}

.menu_item_text {
  width: auto;
  height: auto;
  float: left;
  font-size: 16px;
  font-weight: 900;
  color: #666666;
}

.signoutView {
  width: auto;
  height: auto;
  float: left;
}

.signoutView.active {
  display: none;
}

.signinView {
  width: auto;
  height: auto;
  float: left;
}

.signinView.active {
  display: none;
}

.signinicon {
  width: auto;
  height: 30px;
  float: left;
}
.signinicon img {
  width: auto;
  height: 100%;
  float: left;
}

.signinmenutext {
  width: auto;
  height: auto;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 30opx;
  margin-left: 10px;
  color: #006699;
}

.Tosignout {
  width: auto;
  height: auto;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin: 0px 20px;
  color: #F37A3E;
}

.footer_meunbar {
  width: 100%;
  height: auto;
  max-width: 1200px;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.meunbar {
  width: auto;
  height: auto;
  float: left;
}

.qrcoderbar {
  width: auto;
  height: auto;
  float: left;
}

.meunbar_itembar {
  width: 200px;
  height: auto;
  float: left;
  padding-right: 80px;
}
.meunbar_itembar ul {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 16px;
}
.meunbar_itembar ul li {
  width: 100%;
  height: auto;
  float: left;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  line-height: 26px;
}
.meunbar_itembar ul li a {
  color: #666;
}
.meunbar_itembar ul li:hover a {
  color: #006699;
}

.meunbar_itembar_title {
  width: auto;
  height: auto;
  float: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #666666;
}

.qrcoder_item {
  width: 100px;
  height: auto;
  float: left;
}

.qrcoder_item_photo {
  width: 100px;
  height: auto;
  float: left;
}
.qrcoder_item_photo img {
  width: 100%;
  height: auto;
  float: left;
  max-width: 100%;
}

.qrcoder_item:last-child {
  margin-left: 45px;
}

.qrcoder_item_text {
  width: 100%;
  height: auto;
  float: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 22px;
  margin-top: 10px;
}

.indexPageTitle {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 10px;
}

.indexActivityBar {
  width: 100%;
  max-width: 904px;
  height: auto;
  min-height: 222px;
  float: left;
  margin-top: 40px;
}

.indAct_item_Box {
  width: 100%;
  height: auto;
  float: left;
}
.indAct_item_Box ul {
  width: 100%;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.indAct_item_Box ul a {
  width: calc(20% - 36px);
  height: 222px;
}
.indAct_item_Box ul a li {
  width: 100%;
  height: 222px;
  float: left;
  background-color: #fff;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  position: relative;
}

.atcImgBox {
  width: calc(100% - 20px);
  height: auto;
  position: absolute;
  float: left;
  bottom: 10px;
}
.atcImgBox img {
  width: 100%;
  height: auto;
  float: left;
  vertical-align: bottom;
}

.atcText {
  width: calc(100% - 20px);
  height: auto;
  position: absolute;
  float: left;
  bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.Conference {
  color: #077E8E;
}

.EducationTraining {
  color: #649644;
}

.TourGuide {
  color: #9CAF4A;
}

.CaringCare {
  color: #E28100;
}

.GiftingPlatform {
  color: #FF6666;
}

.AnnouncementSystem {
  width: 100%;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.AnnouncementSystemBox {
  width: 100%;
  max-width: 904px;
  height: auto;
  float: left;
  margin-top: 54px;
}
.AnnouncementSystemBox > ul {
  width: 100%;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.AnnouncementSystemBox > ul > li {
  width: calc(33.3333333333% - 44px);
  height: 256px;
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #fff;
  border-radius: 12px;
  overflow: hidden;
}

.AnnTop {
  width: 100%;
  height: 48px;
  float: left;
  padding: 10px;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
}

.AnnTopIcon {
  width: 30px;
  height: auto;
  float: left;
}
.AnnTopIcon img {
  width: 100%;
  max-width: 100%;
  height: auto;
  float: left;
}

.AnnTopText {
  width: auto;
  height: 30px;
  float: left;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
  padding: 0px 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  letter-spacing: 1px;
  color: #666;
}

.AnnContent {
  width: 100%;
  height: calc(100% - 68px);
  float: left;
  margin: 10px;
  overflow: hidden;
}
.AnnContent > ul {
  width: calc(100% - 20px);
  height: auto;
  float: left;
  margin: 12px 0px;
}
.AnnContent > ul > li {
  width: 100%;
  height: auto;
  padding-left: 6px;
  margin-bottom: 13px;
  font-size: 14px;
  color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  text-align: justify;
}
.AnnContent > ul > li a {
  color: #666;
}

.ConferenceLine {
  border-left-color: #077E8E;
}

.EducationTrainingLine {
  border-left-color: #649644;
}

.TourGuideLine {
  border-left-color: #9CAF4A;
}

.CaringCareLine {
  border-left-color: #E28100;
}

.GiftingPlatformLine {
  border-left-color: #FF6666;
}

.NewsLine {
  border-left-color: #10325B;
}

.loginTopIcon {
  width: 100%;
  height: 150px;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loginBigIcon {
  width: 150px;
  height: auto;
  float: left;
}
.loginBigIcon img {
  width: 100%;
  height: auto;
  float: left;
  max-width: 100%;
}

.loginContentBox {
  width: 100%;
  max-width: 680px;
  height: auto;
  float: left;
  padding: 50px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.16);
  margin-top: 30px;
  border-radius: 20px;
}

.User_account, .User_password {
  width: 100%;
  height: 50px;
  float: left;
  position: relative;
}

.User_password {
  margin-top: 20px;
}

.User_account::after, .User_password::after {
  content: url("../img/user-solid.svg");
  width: 50px;
  height: 50px;
  float: left;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 0px;
}

.User_password::after {
  content: url("../img/lock-solid.svg");
}

.User_accountInput {
  width: calc(100% - 20px);
  height: 50px;
  float: left;
  margin-left: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #999999;
  padding-left: 50px;
}

.login_confirm_input {
  width: 100%;
  height: 25px;
  float: left;
  margin-top: 10px;
  position: relative;
}

.login_confirm_input > label {
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
  float: left;
}

.login_confirm_input > label > input[type=checkbox] {
  display: none;
}

.login_confirm_input > label > input[type=checkbox] + span {
  display: inline-block;
  padding-left: 42px;
  line-height: 38px;
  background: url(../img/confirm_no.svg) no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: bold;
  color: #555555;
}

.login_confirm_input > label > input[type=checkbox]:checked + span {
  background: url(../img/confirm_sure.svg) no-repeat;
}

.ForgotPassword {
  width: auto;
  height: 38px;
  font-size: 18px;
  line-height: 38px;
  font-weight: bold;
  color: #943737;
  float: left;
}
.ForgotPassword a {
  color: #943737;
}

.buttemBox {
  width: 100%;
  height: 50px;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 40px;
}

.loginButtem {
  width: 142px;
  height: 50px;
  float: left;
  margin: 0px 5px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(../img/loginButtemBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.pageButtem {
  width: 142px;
  height: 50px;
  float: left;
  margin: 0px 5px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(../img/loginButtemBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.ThirdParty {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 30px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ThirdPartyTitle {
  width: 100%;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ThirdPartyTitleLine {
  width: 60px;
  height: 1px;
  float: left;
  background-color: #666;
}

.ThirdPartyTitleText {
  width: auto;
  height: auto;
  float: left;
  padding: 0px 25px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 24px;
}

.ThirdPartyButtemBar {
  width: 418px;
  height: 110px;
  float: left;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 12px;
}

.ThirdPartyButtemItem {
  width: calc(25% - 15px);
  height: 110px;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ThirdPartyButtemIcon {
  width: 80px;
  height: 80px;
  float: left;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.ThirdPartyButtemIcon img {
  width: 50%;
  height: auto;
  max-width: 50%;
  float: left;
}

.ThirdPartyButtemText {
  width: 100%;
  height: auto;
  float: left;
  font-size: 18px;
  color: #555555;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-align: center;
}

.signup_User_account {
  width: 100%;
  height: 50px;
  float: left;
  position: relative;
}

.signup_User_account::after {
  content: url("../img/emailalt.svg");
  width: 50px;
  height: 50px;
  float: left;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 0px;
}

.signup_User_accountInput {
  width: calc(100% - 20px);
  height: 50px;
  float: left;
  margin-left: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #999999;
  padding-left: 50px;
}

.VerificationCodeBar {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 20px;
}

.VerifCodeTitle {
  width: 100%;
  height: auto;
  float: left;
  font-size: 18px;
  font-weight: 900;
  color: #10325B;
  letter-spacing: 1px;
}

.verificationCode {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  float: left;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.verificationCodeInput {
  width: 74%;
  height: 50px;
  float: left;
  font-size: 16px;
  color: #999999;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.verificationCodeButtem {
  width: 26%;
  height: 50px;
  float: left;
  text-align: center;
  color: #555555;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #DBDBDB;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Boxbarbuttem, .Boxbarbuttem2 {
  width: 100%;
  height: auto;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 48px;
}

.Boxbarbuttem2 {
  margin-top: 20px;
}

.ContentBoxTitle {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #006699;
  text-align: center;
}

.Inputset100 {
  width: 100%;
  height: 50px;
  float: left;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #999999;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.page_confirm_input {
  width: 100%;
  height: 25px;
  float: left;
  margin-top: -10px;
  position: relative;
}

.page_confirm_input > label {
  padding: 0;
  margin-right: 0px;
  cursor: pointer;
  float: left;
}

.page_confirm_input > label > input[type=checkbox] {
  display: none;
}

.page_confirm_input > label > input[type=checkbox] + span {
  display: inline-block;
  padding-left: 32px;
  line-height: 28px;
  background: url(../img/confirm_no.svg) no-repeat;
  background-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}

.page_confirm_input > label > input[type=checkbox]:checked + span {
  background: url(../img/confirm_sure.svg) no-repeat;
  background-size: 30px;
}

.pagelabelText {
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}
.pagelabelText a {
  color: #555555;
}
.pagelabelText a:hover {
  color: #006699;
}

.Boxbarmessage {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #10325B;
  margin-top: 20px;
  line-height: 26px;
}

.PageBreadCrumbs {
  width: 100%;
  height: auto;
  float: left;
}
.PageBreadCrumbs ul {
  width: 100%;
  height: auto;
  float: left;
}
.PageBreadCrumbs ul li {
  width: auto;
  height: auto;
  float: left;
  margin: 0px 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.MemberCentreContent {
  width: 100%;
  height: auto;
  min-height: 470px;
  float: left;
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.memberNav {
  width: 224px;
  height: auto;
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 26px 0px;
  padding-bottom: 60px;
}

.memberNavItem {
  width: 100%;
  height: auto;
  float: left;
  background-color: transparent;
  padding: 0px 30px;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navItemSort {
  width: 100%;
  height: 200px;
  float: left;
  position: relative;
  background-color: #242424;
}

.memberNavItemLine {
  width: 3px;
  height: 20px;
  background-color: #FF4646;
  float: left;
}

.memberNavItemtext {
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  color: #006699;
}

.memberNavItem.active {
  background-color: rgb(0, 102, 153);
}

.memberNavItem.active > .navItems > .memberNavItemLine {
  background-color: #fff;
}

.memberNavItem.active > .navItems > .memberNavItemtext {
  color: #FFFFFF;
}

.navItems {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}

.navItems::after {
  display: none;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  transition: all 0.5s ease;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.5em solid;
  border-right: 0.35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
  color: #666;
}

.memberNavItem:nth-child(2) > div.navItems::after, .memberNavItem:nth-child(3) > div.navItems::after {
  display: inline-block;
}

.memberCenterRight {
  width: calc(100% - 224px - 16px);
  height: auto;
  float: left;
}

.memberCenterRightTopBox {
  width: 100%;
  height: 100px;
  float: left;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 26px 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.memberCenterRightContentBox {
  width: 100%;
  height: auto;
  min-height: calc(100% - 100px - 20px);
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 50px;
  padding: 60px;
}

.memberUserBox {
  width: auto;
  height: 46px;
  float: left;
  display: inline-flex;
  align-items: center;
}

.memberUserQRcord {
  width: auto;
  height: 46px;
  float: left;
}

.memberUserBoxLeft {
  width: auto;
  height: 46px;
  float: left;
}
.memberUserBoxLeft img {
  width: auto;
  height: 100%;
  float: left;
}

.memberUserName {
  width: auto;
  height: 46px;
  float: left;
  margin-left: 10px;
  color: #006699;
  font-size: 18px;
  font-weight: bold;
  display: inline-flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
}

.qrcodeph {
  width: 46px;
  height: 46px;
  float: left;
}
.qrcodeph img {
  width: 100%;
  height: auto;
  float: left;
  max-width: 100%;
}

.MembershipLevelBox {
  width: 180px;
  height: 46px;
  float: left;
  display: inline-flex;
  justify-content: flex-end;
  align-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin-right: 10px;
}

.memberleve {
  width: 80;
  height: 22px;
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
  background: rgb(230, 230, 230);
  background: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgb(212, 212, 212) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e6e6e6", endColorstr="#d4d4d4",GradientType=0 );
  line-height: 22px;
  border-radius: 3px;
  padding: 0 10px;
}

.memberqrtext {
  width: auto;
  height: auto;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #006699;
}

.itemTitle {
  width: 100%;
  height: auto;
  float: left;
}

.itemTitleLine {
  width: 3px;
  height: 20px;
  background-color: #FF4646;
  float: left;
}

.itemTitletext {
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  color: #006699;
}

.pointsBox, .giftsBox {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #707070;
}

.pointsBoxItem {
  width: auto;
  height: 50px;
  float: left;
  margin-right: 20px;
}

.pointsBoxItemLeft {
  width: auto;
  height: 50px;
  float: left;
  background-color: #006699;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pointsBoxItemRight {
  width: auto;
  height: 50px;
  float: left;
  background-color: #fff;
  color: #FF6666;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid #006699;
  border-bottom: 1px solid #006699;
  border-right: 1px solid #006699;
}

.giftsBoxItem {
  width: 180px;
  height: 60px;
  float: left;
  margin-right: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(241, 241, 241) 40%, rgb(225, 225, 225) 41%, rgb(246, 246, 246) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#f6f6f6",GradientType=0 );
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.giftsBoxItemIcon {
  width: auto;
  height: 40px;
  float: left;
}
.giftsBoxItemIcon img {
  height: 100%;
  width: auto;
  float: left;
}

.giftsBoxItemtext {
  width: auto;
  height: 40px;
  float: left;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #006699;
  margin-left: 10px;
}/*# sourceMappingURL=tw_main.css.map */